body{
	font-family: 'Freckle Face', cursive;
	margin: 0; 
	height: 100%; 
	overflow: hidden
	width:100%;
	background:url(wallpp.jpg);
	background-size:cover;

} 
#grid-container{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}
#page-title{
	text-align: center; 
	font-size: 60px;
	padding-bottom: 20px;
}
.animated{
	animation:multicolored 15s;
	animation-delay: 0.2;
	animation-iteration-count: infinite
}

@keyframes multicolored{
	0%{text-shadow: gray 6px 0.5px;}
	15%{text-shadow: #0066cc 6px 0.5px;}
	30%{text-shadow: indianred 6px 0.5px;}
	45%{text-shadow: #0066cc 6px 0.5px;}
	75%{text-shadow: #99ff66 6px 0.5px;}
	100%{text-shadow::#ff9999 6px 0.5px;}
}

#inputs-list{
	list-style: none;
	display: flex;
	justify-content: center;

}

#inputs-list li{
	margin-right: 55px;
}

input{
	
	height: 50px;
	width: 138px;
	border-radius: 10px;
	text-align: center;
	font-family: inherit;
	font-size: 16px;
	border-style:none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	color:cadetblue;
	background-color:antiquewhite ;
	opacity: 0.7;
}
input:focus{
	opacity:1;
}
#reseter{
	color:antiquewhite;
	background-color:cadetblue;
	margin-right:-50px;

}
#creator{
	color:cadetblue;
	background-color:antiquewhite;
}
#creator,#reseter{
	font-size: 20px;
	width: 138px;
	height: 50px;
  	border-radius: 4px;
  	font-family: inherit;
	border-style:none;
	transition: 0.2s;
  	transition-delay: 0.2s;
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	cursor:pointer;
}
#creator:hover, #reseter:hover{
	opacity: .82;
}
input:focus,input:active, button:focus,button:active{
	outline: none;
}
.grid-container{
	display: flex;
	justify-content:flex-start;
	flex-wrap:nowrap;
	border:2px solid #ccc; 
	padding: 10px; 

	}
.containment:hover{
	background-color: antiquewhite;
}

.containment{
	flex-grow:0.01;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	display: flex;
	justify-content: center;
	align-items: center;
}
.containment i:hover{
    animation: animated-arrow 1s ease-in-out infinite;
}
#left-arrow{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#right-arrow{
	border-top-right-radius: 10px;	
	border-bottom-right-radius: 10px;
}
#bottom-arrow{
	border-bottom-left-radius: 10px;	
	border-bottom-right-radius: 10px;
}

@keyframes animated-arrow{
    from{
        transform: translateX(0)
    }
    50%{
        transform: translateX(6px);
    }
    to{
        transform: translateX(0);
    }
}
#dragItLeft i,#dragItRight i,#dragItDown i{
	font-size: 41px;
}
#dragItDown{
	display: flex;
	justify-content: center;
}
#grid-container{
	display: flex;
	justify-content: center;
}
table tbody tr td{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-left: 5px;
	margin-right:5px;
}

table tbody tr{
	margin-left: 5px;
	margin-right:5px;
}
.tool-container{
	background-color:antiquewhite ;
	border-style: none;
	border-radius: 10px;
	padding: 5px;
	position: absolute;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.26);
}
.tool-container{
	cursor: move;
}
.tools{
	border-style:none;
	display: flex;
	flex-direction: column;
	font-size:21px;
	align-items: center;
	border-radius: 8px;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.26);
}
.tools i {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 2px;
}

#brush:hover,.fa-square-o:hover,.fa-eraser:hover,.fa-plus:hover{
	cursor:pointer;
	font-size: 25px;
}

.brush-choices,.background-choices,.tool-kit-table {
	position: absolute;
	display: flex;
	margin-top: -29px;
	margin-left: 28px;
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
	background-color:antiquewhite ;
}
.tool-kit-table tbody tr td{
	background-color: #fff;
	font-size: 18px;
	font-family: 'Freckle Face', cursive;;
	height:1em;
	padding:3px;
	border-radius:6px;
}
.tool-kit-table tbody tr td:hover{
	opacity: 0.67;
}
.size-sm{
	width: 18px;
	height: 18px;
}
.size-xs{
	width:11px;
	height:11px; 
}
.size-md{
	width: 25px;
	height: 25px;
}
.size-lg{
	width: 32px;
	height: 32px;
}
.brush-cursor{
	cursor:url('https://s3.amazonaws.com/imgendpoint2018/paint-brush.png'), auto;
}
.eraser-cursor{
	cursor:url('https://s3.amazonaws.com/imgendpoint2018/eraser1.png'), auto;
}